.qindex {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px -5px #00000022;
    padding: 10px 20px;
    border: 1px solid #ddd;
}

.qindex * {
    font-family: Poppins;
}

.tabtray {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.tab_cat {
    margin: 0 0 0 20px;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: black;
    background-color: var(--brand-col2);
}

.activetab {
    background-color: var(--brand-col1);
    color: white;
}

.tab_content {
    background-color: var(--brand-col1);
    min-height: 300px;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    color: white;
}

.qcat {
    background-color: white;
    border: 1px solid #ddd;
    display: inline-block;
    color: black;
    padding: 5px 20px;
    font-size: 12px;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slidep .4s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    transform: translateY(10px);
    opacity: 0;
}

.questionswrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}

.questionarea {
    flex: 1;
}

.sidebar {
    width: 350px;
    background-color: var(--brand-col1);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
}

.questionitem {
    background-color: white;
    margin: 10px 0;
    border-radius: 10px;
    color: #222;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #ddd;
}

.questionarea * {
    font-family: Poppins;
}

.questionarea p {
    font-size: 12px;
}

.item {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 20px;
    box-shadow: 4px 4px 13px -5px #00000022;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.buttontray {
    margin: 20px 0;
}

.btn {
    background-color: var(--brand-col2);
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9999999;
    background-color: #00000091;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: slideup .6s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn:hover {
    background-color: var(--brand-col1);
    color: white;
}

@keyframes com {
    0% {
        transform: translateY(100%) scale(0.5);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}

.inner {
    animation: com .6s normal cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    max-width: 1300px;
    width: 100%;
    max-height: 100vh;
    transform: translateY(100%) scale(0.5);
    border-radius: 20px;
    height: auto;
    min-height: 20vh;
    margin: 0 auto;
    font-size: 12px;
    padding: 30px 20px;
    background-color: white;
    position: relative;
}

.scroller {
    height: 100%;
    position: relative;
    overflow: auto;
    padding: 30px 10px 30px 0px;
}

.closer {
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
}

.inner * {
    font-family: Poppins;
}

.item.activeQ svg path {
    fill: var(--brand-col1);
}

.item svg {
    margin-right: 10px;
}

.qdesc {
    font-size: 12px;
}

.question_wrap h1 {
    color: var(--brand-col1);
    margin: 5px 0;
}

.questionarea {
    margin-left: 20px;
}


/* Responsive iframe styles */

.iframe_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.horizontal_line {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin: 30px 0 50px 0;
}

.spacer {
    height: 50px;
    width: 100%;
}

.shares {
    max-width: 800px;
    width: calc(100% - 5%);
    position: relative;
    border: 1px solid #ddd;
    padding: 20px 30px;
    border-radius: 20px;
    font-family: Poppins;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    box-shadow: 3px 3px 2px -2px #00000027;
}

.question_wrap img {
    position: relative;
    width: 100%;
    border-radius: 20px;
}

.sharebuttons h3 {
    margin: 5px 0;
    font-weight: 500;
    font-size: 16px;
}

.sharebuttons button {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 200px;
    position: relative;
}

.sharebuttons button svg {
    z-index: 2;
}

.sharebuttons button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    z-index: 1;
    background-color: var(--brand-col2);
    opacity: 0;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sharebuttons button:hover::before {
    opacity: 0.5;
}

.iframe_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Set the aspect ratio based on your video aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 20px;
    overflow: hidden;
}

.label {
    background-color: var(--brand-col2);
    color: black;
    padding: 5px 20px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
}

.breadcrumb {
    font-size: 12px;
    margin: 20px 0 10px 0;
}

.desc {
    font-size: 16px;
}
.qdesc *{
    font-size: 14px !important;
    font-family: SF Pro Display !important;
}
.qdesc{
    margin-bottom: 10px;
}
.heading {
    font-size: 26px;
    margin: 0;
    color: var(--brand-col2);
    text-shadow: 1px 1px 0px #0000009a;
}

@keyframes slidep {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.activeQ {
    background-color: var(--brand-col2);
    border: 1px solid transparent;
    box-shadow: 4px 4px 22px -5px var(--brand-col2);
}

.looper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: -20px;
}

.qitem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    margin: 20px;
}

.qitem img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 200px !important;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 12px -5px #00000022;
}

.qindex h2 {
    font-weight: 600;
}

.qindex img {
    max-width: 100%;
    width: auto;
    overflow: hidden;
    border-radius: 20px;
}

@media only screen and (max-width:968px) {
    .questionitem {
        display: inline-block;
        margin: 0 10px 10px 0;
    }
    .sidebar {
        width: 100%;
    }
    .tab_cat {
        margin: 0 0 0 5px;
        font-size: 12px;
        padding: 5px 10px;
    }
    .tabtray {
        overflow: auto;
    }
    .questionswrapper {
        flex-direction: column;
    }
    .questionarea {
        margin-left: 0;
    }
    .tab_content {
        min-height: 100px;
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width:768px) {
    .inner {
        padding: 10px;
        border-radius: 0;
    }
}