.mainflash{
 pointer-events: none;
 z-index: 99999;
 width: 100%;
 height: 100%;
 position: fixed;
 left: 0;
 top: 0;
 
 box-shadow: inset 14px 14px 52px -5px red ,inset -14px -14px 52px 5px red;
animation: flash .5s normal infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes flash {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 0;
    }
    
}