.clickable {
  cursor: pointer;
}

.nav {
  width: 100%;
}

.nav li.active {
  background: rgb(103, 29, 110);
  background: linear-gradient(
    97deg,
    rgba(103, 29, 110, 1) 0%,
    rgba(144, 44, 152, 1) 100%
  );
  color: white;
}
.active svg path[fill="#833589"] {
  fill: white;
}
.nav ul {
  list-style-type: none;
  text-align: left !important;
  padding: 0;
}
.nav ul li svg {
  margin-right: 10px;
}
.nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start; /* changed from center to left align submenu items */
  text-align: left;
}

.nav ul li {
  background: white;
  margin: 10px 20px;
  padding: 10px 20px;
  color: #523f0cfa;

  /*  border: 2px solid #e2bb4e; */
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  /* box-shadow: 2px 2px 10px rgba(202, 94, 21, 0.2); */
  text-transform: uppercase; /* Uppercase text */
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.navslide {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(-100%);

  z-index: 25;
}
.activeNav {
  transform: translateX(0%);
}

.close {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
}

.activeButton .close {
  opacity: 1 !important;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.activeButton .ham {
  opacity: 0;
  transform: rotate(90deg) scale(0);
}

.ham {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@media only screen and (max-width: 968px) {
  .nav {
    flex-direction: column;
    width: 100%;

    position: fixed;
    bottom: 100px;
    left: 10px;
  }
  .nav ul li:hover svg path {
    fill: #333;
  }
  .nav li h3 {
    display: none;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .clickable {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .activeMain li {
    display: flex !important;
  }
  .accord {
    padding: 0 !important;
  }
  @keyframes comup {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .nav li a {
    flex-direction: column !important;
  }
  .nav li a svg {
    margin-right: 0 !important;
  }
  .nav ul li:hover svg path {
    fill: var(--brand-col2);
  }
  .nav ul li:hover {
    transform: scale(1); /* Slightly scale up on hover */

    box-shadow: unset;
  }
  .nav li.active {
    background-color: var(--brand-col2);
  }
}
