.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.userbox{
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  border: 2px solid var(--brand-col2);
}
.dropdown{
  font-family: SF Pro Display;
}

.userbox:hover {
  filter: brightness(0.8);
}
.userbox img{
  width: 100%;
  height: 100%;
}